<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}ISSUES{% endblock %}</title>
    <!-- CSS -->
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="../static/css/extra.css">
    <link href="../static/css/generic.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <style>
        body {
        	background-image: url("../static/img/Light-Green-Abstract-Background.jpg");
        }
    </style>
</head>
<body>
    <div id="sidebar"> {% block sidebar %} {% endblock %} </div>
<!-- javascript -->
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/npm.js"></script>
    <script src="../static/js/extra.js"></script>
    <br><br><br>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column"> <!-- title-->
                <hr class="prettyline">
                            <center>
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <div class="row clearfix">

                                        <div class="col-md-8 column">
                                            <img src="../static/img/title.jpg" alt="Logo" style="width:700px;height:200px">
                                        </div>

                                         <div class="col-md-4 column">
                                            <img src="../static/img/logooo.jpg" alt="Image Logo" style="width:250px;height:200px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                <em></em>
                            </center>
                            <hr class="prettyline">

            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12 column"><!-- navbar-->

                {% block nav-global %}
                    <ul id="nav">
                        {% load staticfiles %}
                            {% if user.is_staff %}
                                <li><a href="{% url 'admin:index' %}">مدیر</a></li>
                        {% endif %}
                        {% if user.is_authenticated %}
                                <li><a href="{% url 'issues:home' %}">خانه</a></li>
                                <li><a href="{% url 'issues:profile' user.pk %}">صفحه شخصی</a></li>
                                <li><a href="{% url 'issues:newProject' user.pk %}">پروژه جدید</a></li>
                                <li><a href="{% url 'issues:forums'%}">پرسش و پاسخ</a></li>
                        {% endif %}
                        {% if not user.is_authenticated %}
                                <li><a href="/accounts/login/?next=/issues/">ورود</a></li>
                        {% endif %}

                        {% if user.is_authenticated %}
                            <li><a href="/accounts/logout/?next=/issues/">خروج</a></li>
                        {% endif %}


                    </ul>
                {% endblock %}

        </div>

        

            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column"><!-- text-->
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column"><!-- social-->
                        <center>

                            <br><br><br><br>
                            <hr class="prettyline">
                            <a href="http://www.facebook.com"><img id="socialicon" src="../static/img/facebook.png" width="145" height="113" alt="Facebook" ></a>
                            <a href="http://www.twitter.com"><img id="socialicon" src="../static/img/Twitter-px.png" width="145" height="113" alt="Twitter"></a>
                            <a href="http://www.github.com"><img id="socialicon" src="../static/img/github2.jpg" width="145" height="113" alt="Github"></a>
                            <a href="http://www.linkedin.com"><img id="socialicon" src="../static/img/linkedin.png" width="145" height="113" alt="Linkedin"></a>
                            <a href="http://www.youtube.com"><img id="socialicon" src="../static/img/youtube.png" width="145" height="113" alt="Youtube"></a>
                            <a href="http://www.plus.google.com"><img id="socialicon" src="../static/img/googleplus-revised.png" width="145" height="113" alt="Google+"></a>
                            <a href="http://www.gmail.com"><img id="socialicon" src="../static/img/gmail-icon.png" width="145" height="113" alt="Gmail"></a>
                            <a href="http://www.yahoo.com"><img id="socialicon" src="../static/img/yahoo-icon.png" width="145" height="113" alt="Yahoo"></a>
                        </center>
            </div>
        </div>
    </div>
</body>
</html>
