{% extends "base.html" %}
{% block content %}
    <style type="text/css">
        .main { margin-left: 25px; margin-top: 30px;background:white;}
        .title { font-size: 1.4em; margin-top: 10px; border-bottom: 0px solid #ccc; padding-left: 4px;background:white; }
        .last { border: 0px; }
        .title a { text-decoration: none; }
        .button { background: #999; color: white; padding: 4px; text-decoration: none; }
        td { border-bottom: 1px solid #ccc; }
        #list { border: 1px solid #ccc; width: 700px;background:white; }
    </style>

    <div class="main">

        <div id="list">
        <table border="0" cellpadding="4" width="100%">
            <tr>
                <td>Title</td>
                <td></td>
            </tr>
            {% for forum in forum_list %}
            <tr>
                <td>
                    <div class="title"> <a href="{% url 'issues:forum' pk=forum.pk %}">{{ forum.title }}</a></div>

                </td>
                <td><a class="button" href="{% url 'issues:forum' pk=forum.pk %}">VIEW</a></td>
            </tr>
            {% endfor %}
            </table>
        </div>
        <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    </div>

{% endblock %}

