<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ISSUES</title>
    <!-- CSS -->
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="../static/css/extra.css">
    <link href="../static/css/generic.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <style>
        body {
        	background-image: url("../static/img/Light-Green-Abstract-Background.jpg");

        }
    </style>
</head>
<body>
<!-- javascript -->
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/npm.js"></script>
    <script src="../static/js/extra.js"></script>
    <br><br><br>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column"> <!-- title-->
                <hr class="prettyline">
                            <center>
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <div class="row clearfix">

                                        <div class="col-md-8 column">
                                            <img src="../static/img/title.jpg" alt="Logo" style="width:700px;height:200px">
                                        </div>

                                         <div class="col-md-4 column">
                                            <img src="../static/img/logooo.jpg" alt="Image Logo" style="width:250px;height:200px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                <em></em>
                            </center>
                            <hr class="prettyline">

            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12 column"><!-- navbar-->

                {% block nav-global %}
                    <ul id="nav">
                        {% load staticfiles %}
                            {% if user.is_staff %}
                                <li><a href="{% url 'admin:index' %}">مدیر</a></li>
                        {% endif %}
                        {% if user.is_authenticated %}
                                <li><a href="{% url 'issues:home' %}">خانه</a></li>
                                <li><a href="{% url 'issues:profile' user.pk %}">صفحه شخصی</a></li>
                                <li><a href="{% url 'issues:newProject' user.pk %}">پروژه جدید</a></li>
                        {% endif %}
                        {% if not user.is_authenticated %}
                                <li><a href="/accounts/login/?next=/issues/">ورود</a></li>
                        {% endif %}

                        {% if user.is_authenticated %}
                            <li><a href="/accounts/logout/?next=/issues/">خروج</a></li>
                        {% endif %}


                    </ul>
                {% endblock %}

             </div>

            </div>
        </div>
            <br><br><br><br><br>



        <div class="row clearfix">
            <div class="col-md-12 column"><!-- text-->
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
                      <div class="panel panel-info">
                        <div class="panel-heading">
                          <h3 class="panel-title">{{ project.headline }}</h3>
                        </div>
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center"> <img  src="../static/img/profiledsf.jpg" class="img-circle"> </div>
                            <div class=" col-md-9 col-lg-9 ">
                              <table class="table table-user-information">
                                <tbody>
                                  <tr>
                                    <td>: نام پروژه</td>
                                    <td>{{ project.ProjectName }}</td>
                                  </tr>
                                  <tr>
                                    <td>: مدیر پروژه</td>
                                    <td><a href="{% url 'issues:profile' project.owner.pk %}">{{ project.owner }}</a>

                                  </tr>
                                  <tr>
                                    <td>: زمان شروع</td>
                                    <td>{{ project.startTime }}</td>
                                  </tr>

                                  <tr>
                                    <td>: زمان پایان </td>
                                    <td>{{ project.finishedTime }}</td>
                                  </tr>
                                  <tr>
                                    <td>: توضیحات پروژه</td>
                                    <td>{{ project.projectDescription }}</td>
                                  </tr>

                                   <tr>
                                    <td>: میزان پیشرفت پروژه</td>
                                    <td><progress value="{{ project.progressUpdate}}" max="100"></progress></td>
                                  </tr>

                                </tbody>
                              </table>


                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>



                <!--             task                 -->


                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
                      <div class="panel panel-info">
                        <div class="panel-heading">
                          <h3 class="panel-title">وظایف پروژه</h3>
                        </div>
                        <div class="panel-body">
                          <div class="row">
                            <div class=" col-md-9 col-lg-9 ">
                              <table border="0" cellpadding="5" width="100%">
                                        <tr>
                                            <td></td>
                                            <td><h2>مهارت ها</h2></td>
                                             <td><h2>توضیحات</h2></td>
                                            <td><h2>کاربر</h2></td>
                                            <td><h2>موضوع</h2></td>

                                        </tr>
                                         {% for task in page_obj %}
                                        <tr>
                                            <td><a class="button" href="{% url 'issues:taskPage' task.pk %}">VIEW</a></td>
                                            <td>{% for skill in task.skills.all %}{{skill}}{% endfor %}</td>
                                            <td>{{ task.taskTitle }}</td>
                                             <td>{% for operator in task.operator.all %}<a href="{% url 'issues:profile' operator.pk %}">{{ operator }}</a><br>{% endfor %}</td>
                                            <td>{{ task.taskDescription}}</td>



                                        </tr>

                                       {% endfor %}

                                        {%ifequal project.owner.pk user.pk %}
                                            <p><a href="{% url 'issues:newTask' project.pk %}" class="btn btn-primary">اضافه کردن وظیفه جدید</a></p>
                                        {%endifequal%}

                                </table>

                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>





             </div>

             <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>










        </div>

        </div>
        <div class="row clearfix">
            <div class="col-md-12 column"><!-- social-->
                        <center>

                            <br><br><br><br>
                            <hr class="prettyline">
                            <a href="http://www.facebook.com"><img id="socialicon" src="../static/img/facebook.png" width="145" height="113" alt="Facebook" ></a>
                            <a href="http://www.twitter.com"><img id="socialicon" src="../static/img/Twitter-px.png" width="145" height="113" alt="Twitter"></a>
                            <a href="http://www.github.com"><img id="socialicon" src="../static/img/github2.jpg" width="145" height="113" alt="Github"></a>
                            <a href="http://www.linkedin.com"><img id="socialicon" src="../static/img/linkedin.png" width="145" height="113" alt="Linkedin"></a>
                            <a href="http://www.youtube.com"><img id="socialicon" src="../static/img/youtube.png" width="145" height="113" alt="Youtube"></a>
                            <a href="http://www.plus.google.com"><img id="socialicon" src="../static/img/googleplus-revised.png" width="145" height="113" alt="Google+"></a>
                            <a href="http://www.gmail.com"><img id="socialicon" src="../static/img/gmail-icon.png" width="145" height="113" alt="Gmail"></a>
                            <a href="http://www.yahoo.com"><img id="socialicon" src="../static/img/yahoo-icon.png" width="145" height="113" alt="Yahoo"></a>
                        </center>
            </div>
        </div>
    </div>
</body>
</html>
