{% extends "base.html" %}
{% block content %}
 <style type="text/css">
                    #submit { background: #999; color: white; padding: 4px; text-decoration: none; ;}
                    .button { background: #999; color: white; padding: 4px; text-decoration: none; }
 </style>
<h1>Task : {{ task.taskTitle }}</h1>
<p>Task Description : {{ task.taskDescription }}</p>
<p>Task Deadline : {{ task.deadline}}</p>
<p>operators:
{%if not task.completed%}<p><a class="button" href="{% url 'issues:outsourcingUser' task.pk %}">+ Add New Operators</a></p>{%endif%}
<!-- ye dokme moshabehe bala baraye pishnahad dadan badan bayad ezafe shavad-->
<p>skills : <ul>{% for skill in task.skills.all %}<li>{{skill}} </li>{% endfor %}</ul></p>
{%if task.done%}
    <p>this task is done</p>
    {%if not task.completed%}
        <a href="{% url 'issues:taskDone' task.pk %}" target="_self" >Undone the task</a>
    {%endif%}
{%endif%}
{%if not task.done%}
    <p>this task is not done</p>
    {%if not task.completed%}<a href="{% url 'issues:taskDone' task.pk %}" target="_self" >Done the task</a>{%endif%}
    <br>
{%endif%}
{%if not task.completed%}
{%if task.done%}<form action="{% url 'issues:upgrade' task.pk %}" method="post">
    {% csrf_token %}
        <input type="number" name="grade" value="{{grade}}" min="0" max ="10"/>
        <input type="submit" value="upgrade" />
    </form>{%endif%}
{%endif%}
<p><a class="button" href="{% url 'issues:newComment' task.pk %}">+ Add New Comment</a></p>
{% for comment in page_obj %}
    <ul>
      <li><a href="{% url 'issues:profile' comment.creator.pk %}">{{comment.creator}}</a>|{{comment.date}}<br>{{comment.body}}</li>
    </ul>
{%endfor%}
<a href="{% url 'issues:projectPage' task.project.pk %}"> &lt;&lt;Back to Project Page</a>
{% endblock %}
