{% extends "base.html" %}
{%block content%}
{% if user.is_authenticated %}

<!--{% for key, value in user.socialaccount_set.all.0.extra_data.items %}
<ul>

    <li>{{ key }}: </li>
    <li>{{ value }}</li>
</ul>
{% endfor %}
{% endif %}-->
 <style type="text/css">
                    .update { margin-left: 15px; margin-top: 30px; }
                    #submit { float:inherit;}
                </style>
<center>
                    <div class="ppic"><img src="{{ userprofile.avatar }}"  alt="No Profile picture" height="200" width="200"/><br /></div>
            <br />
                    <div class="title">Name:</div>
                    <div class="detail"> {{ user.first_name}}<br /></div>
                    <div class="title">city:</div>
                    <div class="detail"> {{ userprofile.city}}<br /></div>
                    <div class="title">Email Address:</div>
                    <div class="detail">{{ userprofile.user.email }}<br /></div>
                    <div class="title">grades:</div>
                    <div class="detail">{{ userprofile.grades }}<br /></div>
                    <div class="title">state:</div>
                    {%if userprofile.state%}
                        <div class="detail">available<br /></div>
                    {%else%}
                        <div class="detail">busy<br /></div>
                    {%endif%}
                    {%ifequal userprofile.user.pk user.pk %}
                    <div class="update">
                         <form action="" method="post" >{% csrf_token %}
                               <table>
                                    {{form.as_table }}
                                </table>
                                <input type="submit" value="Update" />
                            </form>
                        <br>
                    </div>
                    {%endifequal%}
                    <div class="title">fielsofstudy:</div>
                    <div class="detail">{{ userprofile.fieldOfStudy|linebreaksbr }}<br /></div>
                    <div class="title">Last Login:</div>
                    <div class="detail">{{ userprofile.user.last_login|date:"M d Y" }}<br /></div>
                    <div class="title">Joined: </div>

</center>
{%endblock%}
