<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ISSUES</title>
    <!-- CSS -->
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="../static/css/extra.css">
    <link href="../static/css/generic.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <style>
        body {
        	background-image: url("../static/img/Light-Green-Abstract-Background.jpg");

        }
    </style>
</head>
<body>
<!-- javascript -->
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/npm.js"></script>
    <script src="../static/js/extra.js"></script>
    <br><br><br>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column"> <!-- title-->
                <hr class="prettyline">
                            <center>
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <div class="row clearfix">

                                        <div class="col-md-8 column">
                                            <img src="../static/img/title.jpg" alt="Logo" style="width:700px;height:200px">
                                        </div>

                                         <div class="col-md-4 column">
                                            <img src="../static/img/logooo.jpg" alt="Image Logo" style="width:250px;height:200px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                <em></em>
                            </center>
                            <hr class="prettyline">

            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12 column"><!-- navbar-->

                {% block nav-global %}
                    <ul id="nav">
                        {% load staticfiles %}
                            {% if user.is_staff %}
                                <li><a href="{% url 'admin:index' %}">مدیر</a></li>
                        {% endif %}
                        {% if user.is_authenticated %}
                                <li><a href="{% url 'issues:home' %}">خانه</a></li>
                                <li><a href="{% url 'issues:profile' user.pk %}">صفحه شخصی</a></li>
                                <li><a href="{% url 'issues:newProject' user.pk %}">پروژه جدید</a></li>
                        {% endif %}
                        {% if not user.is_authenticated %}
                                <li><a href="/accounts/login/?next=/issues/">ورود</a></li>
                        {% endif %}

                        {% if user.is_authenticated %}
                            <li><a href="/accounts/logout/?next=/issues/">خروج</a></li>
                        {% endif %}


                    </ul>
                {% endblock %}

             </div>

            </div>
        </div>
            <br><br><br><br><br>



        <div class="row clearfix">
            <div class="col-md-12 column"><!-- text-->
                <div id="pro">

                  {% if user.is_authenticated %}
                   <div class="container">
                      <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


                          <div class="panel panel-info">
                            <div class="panel-heading">
                              <h3 class="panel-title">مشخصات فردی</h3>
                            </div>
                            <div class="panel-body">
                              <div class="row">
                                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Picture" src="{{ userprofile.avatar}}"  weight="280" height="210" class="img-circle"> </div>

                                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                                  <dl>
                                    <dt>DEPARTMENT:</dt>
                                    <dd>Administrator</dd>
                                    <dt>HIRE DATE</dt>
                                    <dd>11/12/2013</dd>
                                    <dt>DATE OF BIRTH</dt>
                                       <dd>11/12/2013</dd>
                                    <dt>GENDER</dt>
                                    <dd>Male</dd>
                                  </dl>
                                </div>-->
                                <div class=" col-md-9 col-lg-9 ">
                                  <table class="table table-user-information">
                                    <tbody>
                                      <tr>
                                          <td>: نام</td>
                                        <td>{{ user.first_name}} {{user.last_name}}</td>


                                      </tr>

                                      <tr>
                                        <td> :ایمیل</td>
                                        <td>{{ userprofile.user.email }}</td>

                                      </tr>

                                      <tr>
                                        <td>: مکان</td>
                                        <td>{{ userprofile.location}}</td>

                                      </tr>
                                      <tr>
                                        <td>: نمره </td>
                                        <td>{{ userprofile.grade }}</td>
                                      </tr>


                                      <tr>
                                        <td> : عنوان</td>
                                        <td>{{ userprofile.position|linebreaksbr }}</td>

                                      </tr>

                                      <tr>
                                        <td>: آخرین ورود</td>
                                        <td>{{ userprofile.user.last_login|date:"M d Y" }}</td>

                                      </tr>
                                      <tr>
                                        <td>: تاریخ عضویت</td>
                                        <td>{{ userprofile.user.date_joined|date:"M d Y" }}</td>
                                      </tr>


                                      <tr>
                                            <td>: وضعیت </td>
                                            <td>
                                              {%if userprofile.state%}
                                                    <div>در دسترس<br /></div>
                                                {%else%}
                                                    <div>مشغول<br /></div>
                                                {%endif%}
                                                {%ifequal userprofile.user.pk user.pk %}

                                                <div>
                                                     <a class="btn btn-primary" href="{% url 'issues:editprofile' user.pk %}" target="_self" ><h3>state change</h3></a>
                                                </div>
                                                {%endifequal%}
                                          </td>

                                      </tr>

                                        </tbody>
                                  </table>


                                </div>



                              </div>
                            </div>


                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}

                </div>






                <!-- private proje-->







                <div id="proi">
                  {% if user.is_authenticated %}
                   <div class="container">
                      <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


                          <div class="panel panel-info">
                            <div class="panel-heading">
                              <h3 class="panel-title">پروژه های فردی</h3>
                            </div>
                            <div class="panel-body">
                              <div class="row">
                                <div class="col-md-3 col-lg-3 " align="center"> <img  src="../static/img/profilel.jpg" weight="122" height="134" class="img-circle"> </div>


                                <div class=" col-md-9 col-lg-9 ">
                                  <table class="table table-user-information">
                                    <tbody>
                                         <table border="0" cellpadding="4" width="100%">
                                            <tr>
                                                <td></td>
                                                <td><h2>: توضیحات پروژه</h2></td>
                                                <td><h2>: مدیر پروژه</h2></td>
                                                 <td><h2>: تاریخ</h2></td>
                                                 <td><h2>: موضوع</h2></td>


                                            </tr>
                                            {% for p in page_obj %}
                                            {%ifequal p.progressUpdate 100%}
                                            {% if p.projectAccessType%}
                                            <tr>
                                                <td><a class="btn btn-primary" href="{% url 'issues:projectPage' p.pk %}"><h4>VIEW</h4></a></td>

                                                <td>{{ p.projectDescription |linebreaksbr }}</td>
                                                <td><a href="{% url 'issues:profile' p.owner.pk %}">{{ p.owner}}</a></td>
                                                <td>{{ p.startTime }}</td>
                                                <td>{{ p.ProjectName }}</td>

                                            </tr>
                                             <br>
                                            {%else%}
                                                {% ifequal user p.owner %}
                                                    <tr>
                                                    <td><a class="btn btn-primary" href="{% url 'issues:projectPage' p.pk %}"><h4>VIEW</h4></a></td>
                                                    <td>{{ p.projectDescription |linebreaksbr }}</td>
                                                    <td><a href="{% url 'issues:profile' p.owner.pk %}">{{ p.owner}}</a></td>
                                                    <td>{{ p.startTime }}</td>
                                                    <td><div>{{ p.ProjectName }}</div></td>


                                            </tr>
                                                {%endifequal%}
                                            {%endif%}
                                            {%endifequal%}
                                            {% endfor %}
                                            </table>


                                    </tbody>
                                  </table>


                                </div>

                              </div>
                            </div>


                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                </div>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>










        </div>

        </div>
        <div class="row clearfix">
            <div class="col-md-12 column"><!-- social-->
                        <center>

                            <br><br><br><br>
                            <hr class="prettyline">
                            <a href="http://www.facebook.com"><img id="socialicon" src="../static/img/facebook.png" width="145" height="113" alt="Facebook" ></a>
                            <a href="http://www.twitter.com"><img id="socialicon" src="../static/img/Twitter-px.png" width="145" height="113" alt="Twitter"></a>
                            <a href="http://www.github.com"><img id="socialicon" src="../static/img/github2.jpg" width="145" height="113" alt="Github"></a>
                            <a href="http://www.linkedin.com"><img id="socialicon" src="../static/img/linkedin.png" width="145" height="113" alt="Linkedin"></a>
                            <a href="http://www.youtube.com"><img id="socialicon" src="../static/img/youtube.png" width="145" height="113" alt="Youtube"></a>
                            <a href="http://www.plus.google.com"><img id="socialicon" src="../static/img/googleplus-revised.png" width="145" height="113" alt="Google+"></a>
                            <a href="http://www.gmail.com"><img id="socialicon" src="../static/img/gmail-icon.png" width="145" height="113" alt="Gmail"></a>
                            <a href="http://www.yahoo.com"><img id="socialicon" src="../static/img/yahoo-icon.png" width="145" height="113" alt="Yahoo"></a>
                        </center>
            </div>
        </div>
    </div>
</body>
</html>
